{% extends "base.html" %}

{% block title %}Search Trail{% endblock %}

{% block content %}
<div class="search-bg">
    <div id="trail-form" class="container py-4 px-5 hidden animate-loading">
        <h1 class="text-center display-2">Find Your Trail</h1>

        <form id="search-trail-form" class="form-group">
            <div class="row">
                {{ form_t.hidden_tag() }}

                {% for field in form_t
               if field.widget.input_type != 'hidden' %}
                {% if field.id == 'place_search' %}
                <div class="col">
                    <p>
                        {{ field.label(for="place-search-input", class="text-align-left")}}
                        <a id="search-help" tabindex="0" role="button" display="hidden" data-toggle="popover"
                            data-trigger="focus" title="Find Your Chosen Trail" data-placement="right" data-content="There are thousands of trails in the US. 
                            Enter the park name or zip code of the trail you chose, 
                            and we'll do our best to pinpoint it!">
                            <i class="far fa-question-circle"></i>
                        </a>
                        {{ field(id="place-search-input", class_='form-control m-search', placeholder="Park Name, City, Zip Code") }}
                        {% for error in field.errors %}
                        <span class="form-text text-danger">{{ error }}</span>
                        {% endfor %}
                    </p>
                </div>

                {% else %}
                <div class="col">
                    <p>
                        {{ field.label }}
                        {{ field(class_='form-control') }}
                        {% for error in field.errors %}
                        <span class="form-text text-danger">{{ error }}</span>
                        {% endfor %}
                    </p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <button class="btn btn-block btn-lg btn-success mt-2" type="submit">Get Trails</button>
        </form>
    </div>
    <div id="loading" class="text-center mt-2"></div>
</div>


<div class="spacer"></div>


{% if results %}
<div id="results-container" class="container">
    <h1 class="display-3 text-center">Search Results</h1>
    <small id="results-number" class="ml-1">(Found {{ results|length }} Trails)</small>

    <div id="search-results" class="list-group">

        {% for result in results %}
        <a href="#" class="list-group-item list-group-item-action mb-1" data-toggle="modal"
            data-target="#modal-{{result.id}}">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{result.name}}</h5>
                <small>{{result.difficulty[0]}}</small>
            </div>
            <p class="mb-1">{{result.summary}}</p>
            <small>Rating: {{result.stars}} out of 5 ({{result.starVotes}})</small>
        </a>

        <div class="modal fade" id="modal-{{result.id}}" tabindex="-1" aria-labelledby="ModalLabel-{{result.id}}"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header text-center py-1">
                        <h5 class="modal-title" id="ModalLabel-{{result.id}}">{{result.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="info-modal-target-{{result.id}}" data-target-id="{{result.id}}"
                        class=" modal-body container">
                        <div class="trail-modal-info row">
                            <div class="col-7">
                                <img src="{{result.imgMedium}}" class="rounded img-fluid" alt="...">
                            </div>

                            <div class="col-5">
                                <blockquote class="blockquote font-italic">
                                    <p class="mb-0">{{result.summary}}</p>
                                </blockquote>
                                <hr>
                                <ul class="ml-0 p-1">
                                    <li>{{result.location}}</li>
                                    <li>{{result.length}} miles</li>
                                    <li>Difficulty: {{result.difficulty[0]}}</li>
                                    <li>
                                        <small>
                                            <a target="_blank"
                                                href="https://www.hikingproject.com/trail/{{result.id}}/{{result.name}}">
                                                (...more info about this trail)
                                            </a>
                                        </small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center trail-modal-info">
                        <p class="lead mr-3">Is this your hike?</p>
                        <a id="{{result.id}}" type="button" class="open-secure btn btn-lg btn-success mr-3">Yes</a>
                        <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% else %}
<div id="results-container" class="container hidden">
    <h1 class="display-3 text-center">Search Results</h1>
    <small id="results-number" class="ml-1"></small>

    <div id="search-results" class="list-group">

    </div>
</div>
{% endif %}

<section id="outside-target" class="hidden">
    <div id="secure-form" class="secure-form hidden row ">
        <div class="col">
            <div class="row justify-content-center">
                <h2>Your TrekAssure Pamphlet</h2>
                <p class="px-5 text-justify">
                    TrekAssure is designed to secure your journey back home. An "after-the-hike" pamphlet
                    with static directions from the trail to your home (or whatever destination you specify)
                    will be generated. You will also be provided a set of directions from the trail
                    to the nearest gas station, pharmacy, hospital, and police station.
                </p>
                <p class="px-5">
                    Below, specify a home address or destination address for wherever you'll be going
                    after your hiking adventure.
                </p>
                <p>
                    <i class="fas fa-hiking fa-3x"></i>
                    <span id="secure-loading" class="mx-4">
                        <i class="fas fa-mountain fa-3x"></i>
                    </span>
                    <i class="fas fa-car fa-3x"></i>
                </p>
            </div>
            <hr>
            <div class="row justify-content-center text-align-center">
                <form id="secure-form-target" class="form-group col" method="POST">
                    <div class="form-group px-3 row">
                        <div class="col">
                            {{ form_s.hidden_tag() }}
                            {% for field in form_s if field.widget.input_type != 'hidden' %}
                            {{ field.label(class="text-align-left")}}

                            {% if g.user.address != "" %}
                            {{ field(class_="form-control m-search", value=g.user.address, placeholder="Home Address") }}

                            {% else %}
                            {{ field(class_="form-control m-search", placeholder="Home Address") }}
                            {% endif %}

                            {% for error in field.errors %}
                            <span class="form-text text-danger">{{ error }}</span>
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col ml-3">
                            <button id="secure-form-btn" type="submit" class="btn btn-lg btn-block btn-success mt-1">
                                Get Pamphlet!
                            </button>
                        </div>
                        <div class="col mr-3">
                            <a class="close-secure btn btn-lg btn-block mt-1 btn-warning">Go Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}