{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block title %}Search Trail{% endblock %}

{% block content %}
<div class="search-bg s-bg1">
    <div id="trail-form" class="container py-4 px-5 hidden animate-loading">
        <h1 class="text-center display-2">Find Your Trail</h1>

        <form id="search-trail-form" class="form-group">
            <div class="row">
                {% for field in form_t
               if field.widget.input_type != 'hidden' %}
                {% if field.id == 'place_search' %}
                <div class="col">
                    <p>
                        {{ field.label(for="place-search-input", class="text-align-left")}}
                        <a id="search-help" tabindex="0" role="button" display="hidden" data-toggle="popover"
                            data-trigger="focus" title="Get a List of Trails" data-placement="right" data-content="The first step of using TrekAssure is finding
                            your trail. We need to search the general area of your trail (i.e. park, zipcode, or city). We'll get a list of results based on your
                            search parameters, and then you'll be able to filter for your trail from there. If you didn't get what you're looking for,
                            try a new place or increase the search radius!">
                            <i class="far fa-question-circle"></i>
                        </a>
                        {{ field(id="place-search-input", class_='form-control m-search', placeholder="Park Name, City, Zip Code") }}
                        {% for error in field.errors %}
                        <span class="form-text text-danger">{{ error }}</span>
                        {% endfor %}
                    </p>
                </div>

                {% else %}
                <div class="col">
                    <p>
                        {{ field.label }}
                        {{ field(class_='form-control') }}
                        {% for error in field.errors %}
                        <span class="form-text text-danger">{{ error }}</span>
                        {% endfor %}
                    </p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <button class="btn btn-block btn-lg btn-success mt-2" type="submit">Get Trails</button>
        </form>
    </div>
    <div id="loading" class="text-center pb-1"></div>
</div>


<div id="quotes-box" class="p-3">
    <blockquote class="blockquote text-align-center d-flex justify-content-center align-items-center">

        <div data-quote="1" class="quote q1 qnow">
            <p class="mb-1 h1 text-center">"There <span class="strikethrough">and Back Again"</span></p>
            <footer class="blockquote-footer">A Hobbit's Tale by Bil... wait, isn't the rest of it important?<cite
                    title="Source Title"></cite></footer>
        </div>

        <div data-quote="2" class="quote q2 hidden">
            <p class="mb-1 lead text-center">We highly recommend HikingProject.com or All Trails for discovering your
                next hike.
            </p>
            <p class="mb-1 lead text-center">In fact, TrekAssure is powered by HikingProject's API!</p>
        </div>

        <div data-quote="3" class="quote q3 hidden">
            <p class="mb-1 lead text-center">You can download your "After-The-Hike" Pamphlet as a text file</p>
            <p class="mb-1 lead text-center">or email a copy to yourself!</p>
        </div>


        <div data-quote="4" class="quote q4 hidden ">
            <p class="mb-1 h4">{overusedJohnMuirQuoteAboutMountains.innerText()}</p>
            <footer class="blockquote-footer">quoted.length > 9000 //True<cite title="Source Title"></cite></footer>
        </div>

        <div data-quote="5" class="quote q5 hidden">
            <p class="mb-1 lead text-center">You can view the pamphlets you made under account settings.</p>
            <p class="mb-1 lead text-center">Click your username on the top right corner!</p>
        </div>

        <div data-quote="6" class="quote q6 hidden">
            <p class="mb-1 lead text-center">For convenience, you can save your address</p>
            <p class="mb-1 lead text-center">under account settings</p>
        </div>

    </blockquote>
</div>



{% if results %}
<hr class="spacer p-0 m-0">
<div id="results-container" class="container">

    <h1 class="display-3 text-center">Trails</h1>
    <p id="results-number" class="text-center">(Found {{ results|length }} Trails)</p>

    <div class="table-container hidden animate-loading mb-5">
        <table id="trails-table" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Trail Name</th>
                    <th>Description</th>
                    <th>Rating</th>
                    <th>Difficulty</th>
                </tr>
            </thead>
            <tbody>

                {% for result in results %}
                <tr>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#modal-{{result.id}}">
                            {% if result.name | length < 20 %}
                            {{ result.name }}
                            {% else %}
                            {{result.short_name}}
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        {{result.short_sum}}
                    </td>
                    <td>
                        {{result.stars}} out of 5 ({{result.starVotes}})
                    </td>
                    <td>
                        {{result.difficulty[0]}}
                    </td>
                </tr>

                {% endfor %}

            </tbody>
            <tfoot>
                <tr>
                    <th>Trail Name</th>
                    <th>Description</th>
                    <th>Rating</th>
                    <th>Difficulty</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


<!-- MODAL INFO -->

{% for result in results %}
<div id="trail-modals">
    <div class="modal fade" id="modal-{{result.id}}" tabindex="-1" aria-labelledby="ModalLabel-{{result.id}}"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center py-1">
                    <h5 class="modal-title" id="ModalLabel-{{result.id}}">{{result.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="info-modal-target-{{result.id}}" data-target-id="{{result.id}}" class=" modal-body container">
                    <div class="trail-modal-info row">
                        <div class="col-7">
                            <img src="{{result.imgMedium}}" class="rounded img-fluid" alt="...">
                        </div>

                        <div class="col-5">
                            <blockquote class="blockquote font-italic">
                                <p class="mb-0">{{result.summary}}</p>
                            </blockquote>
                            <hr>
                            <ul class="ml-0 p-1">
                                <li>{{result.location}}</li>
                                <li>{{result.length}} miles</li>
                                <li>Difficulty: {{result.difficulty[0]}}</li>
                                <li>
                                    <small>
                                        <a target="_blank"
                                            href="https://www.hikingproject.com/trail/{{result.id}}/{{result.name}}">
                                            (...more info about this trail)
                                        </a>
                                    </small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center trail-modal-info">
                    <p class="lead mr-3">Is this your hike?</p>
                    <a id="{{result.id}}" class="open-secure btn btn-lg btn-success mr-3">Yes</a>
                    <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% else %}
<!-- hidden empty table -->
<hr class="spacer p-0 m-0">
<div id="results-container" class="container hidden">

    <h1 class="display-3 text-center">Trails</h1>
    <p id="results-number" class="text-center"></p>

    <div class="table-container mb-5">
        <table id="trails-table" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Trail Name</th>
                    <th>Description</th>
                    <th>Rating</th>
                    <th>Difficulty</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>Trail Name</th>
                    <th>Description</th>
                    <th>Rating</th>
                    <th>Difficulty</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div id="trail-modals"></div>

{% endif %}

<!-- SECURE FORM -->
<section id="outside-target" class="hidden">
    <div id="secure-form" class="secure-form hidden row ">
        <div class="col">
            <div class="row justify-content-center">
                <h2>Your TrekAssure Pamphlet</h2>
                <p class="px-5 text-justify">
                    TrekAssure is designed to provide you with a set of static directions from the trail to your home
                    (or whatever destination you specify). You will also be provided a set of directions from the trail
                    to the nearest gas station, pharmacy, hospital, and police station. All of this is neatly packaged
                    into your "after-the-hike" pamphlet.

                </p>
                <p class="px-5">
                    Below, specify a home address or destination address for wherever you'll be going
                    after your hiking adventure.
                </p>
                <p>
                    <i class="fas fa-hiking fa-3x"></i>
                    <span id="secure-loading" class="mx-4">
                        <i class="fas fa-mountain fa-3x"></i>
                    </span>
                    <i class="fas fa-car fa-3x"></i>
                </p>
            </div>
            <hr>
            <div class="row justify-content-center text-align-center">
                <form id="secure-form-target" class="form-group col" method="POST">
                    <div class="form-group px-3 row">
                        <div class="col">
                            {{ form_s.hidden_tag() }}
                            {% for field in form_s if field.widget.input_type != 'hidden' %}
                            {{ field.label(class="text-align-left")}}

                            {% if g.user.address != "" %}
                            {{ field(class_="form-control m-search", value=g.user.address, placeholder="Home Address") }}

                            {% else %}
                            {{ field(class_="form-control m-search", placeholder="Home Address") }}
                            {% endif %}

                            {% for error in field.errors %}
                            <span class="form-text text-danger">{{ error }}</span>
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col ml-1">
                            <button id="secure-form-btn" type="submit" class="btn btn-lg btn-block btn-success mt-1 px-0">
                                Get Pamphlet!
                            </button>
                        </div>
                        <div class="col mr-1">
                            <a class="close-secure btn btn-lg btn-block mt-1 px-0 btn-warning">Go Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/js/trails-table.js"></script>
{% endblock %}