.container {
    background: white;
}

.hidden {
    display: none;
}

.spacer {
    height: 50px;
}

/* REGISTRATION*/

/* ***************************** */

.register-form {
    background: white;
    width: 100%;
    max-width: 500px;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    z-index: 3;
}

.body-shadow {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(19, 19, 19, 0.699);
    z-index: 2;
}

/* SEARCH TRAIL PAGE */

/* ***************************** */

.search-bg {
    background-image: url('/static/images/trees-paint.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
    height: 500px;
    padding-top: 50px;
}

#trail-form {
    background: rgba(0, 0, 0, 0.767);
    max-width: 750px;
    width: 100%;
    color: white;
}

#radius, .m-search {
    padding: 6px 35px 6px 15px;
    height: 50px;
}

.display-2 {
    font-size: calc(52px + 1.2vw);
}

#search-info-box {
    height: 100%;
}

.search-info-text {
    font-size: 2.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}

.fa-question-circle:hover {
    transition: 150ms;
    color: yellow;
}

.light-icon {
    color: white;
}

.dark-icon {
    color: gray;
}

/* SECURE RESULT */

/* ***************************** */

.pamphlet {
    background: rgb(255, 242, 224);
    max-width: 900px;
    min-height: 100vh;
    max-height: 100%;
    padding: 20px;
    border-radius: 20px;
}