{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block title %}Welcome to TrekAssure{% endblock %}

{% block content %}
<div class="search-bg s-bg1">
    <div id="trail-form" class="container py-4 hidden animate-loading">
        <h1 id="t-banner" class="text-center display-1">TrekAssure</h1>
        <p class="lead text-center hidden animate-med">Peace of mind for the journey back home</p>
        {% if g.user %}
        <div class="container-fluid justify-content-center">
            <div class="row justify-content-center">
                <a href="/trails/search" class="btn btn-info btn-lg hidden animate-med mt-3 px-5">Get Started</a>
            </div>
        </div>
        {% else %}

        <div class="row justify-content-center px-5">
            <div class="col d-flex ">
                <a href="/signup" class="btn btn-info btn-lg btn-block hidden animate-med mx-5">Sign Up</a>
            </div>
        </div>
        <div class="row justify-content-center px-5">
            <div class="col d-flex ">
                <a href="/login" class="btn btn-success btn-lg btn-block hidden animate-med mx-5 mt-4">Login</a>
            </div>
        </div>


        {% endif %}
    </div>
</div>

<div class="container-fluid d-flex justify-content-center">
    <div class="row">
        <div class="col my-3">
            <p class="lead">A crisp smell of pine and breathtaking views</p class="lead">
            <p class="lead">The trek eclipsed what you hoped</p class="lead">
            <p class="lead">Now ready for the journey back</p>
            <p class="lead">Your accomplishment set in stone</p>
            <p class="lead">Utter exhaustion now front and center</p class="lead">
            <p class="lead">A beautiful place so remote</p class="lead">
            <p class="lead">You are off the grid in the middle of nowhere</p class="lead">
            <p class="lead">You do not know the way home</p>
        </div>
    </div>
</div>


<div class="search-bg s-bg2 container-fluid justify-content-center">
</div>

<div class="container p-4 mb-5">
    <h2 class="display-4 text-center m-3">Preparation Goes A Long Way</h2>
    <p class="mt-4 lead text-justify">I love the fact that the great outdoors has never been
        more accessible. As technology progresses, we inherit information and amazing tools that provide us with the
        security of knowledge and the confidence to tackle any challenge. I find that there are ample resources for the
        discovery of hiking destinations wherever you may visit. Any avid traveller can find joy at the mere prospect of
        planning their escape to some of the most beautiful places in the world.
    </p>

    <p class="mt-4 lead text-justify">I value preparation as much as anyone, but like branches on a trail, plans can
        can snap given enough stress. Mistakes are to be made, and unfortunately for hikers, the solutions may
        be out of reach. I find myself with a good sense of direction on the trail, but put me on the road and I
        am ingrained to seek the instruction of mapping software from my phone. When you're going <span
            class="font-italic">to</span> your hike, the connection is there and you can map your way. But what happens
        when you're <span class="font-italic">heading back home?</span> Alas, middle-of-nowhere hiking
        destinations are notorious for being poor providers of cell reception. In this situation, you realize that
        you're desperate for some sort of clue, some sort of resource to help you gather your bearings.
    </p>

    <h4 class="display-4 text-center my-5">Have Directions On Hand</h4>
    <p class="mt-4 lead text-justify"><span class="font-weight-bold">TrekAssure is designed to generate a neatly
            packed "After-The-Hike" Pamphlet that contains a static set of directions home and to a few key emergency
            locations nearest to the trail of your choosing</span>.
        You can download the pamphlet as a text file and email a copy to yourself. By adding TrekAssure to
        your preparation routine before a hike, you can be sure that you'll have a hard copy set of directions
        that you can access without a connection.
    </p>
    <p class="mt-4 lead text-justify">Once you're on your way home, if you find cell reception, use it!
        Get home quickly and safely. All the better if you've had connection the whole time! However, for those
        situations when you are deep in the mountains and you have no idea where you are, you'll be glad to have your
        pamphlet to at least get you going in the right direction. Like jumper cables, you never appreciate your
        contingency measures until you need them. Use TrekAssure before the hike to prepare for the journey back home.
        Make sure your day of hiking ends on a great, stress-free note!
    </p>
    <small class="my-5 text-justify">TrekAssure is powered by <a target="_blank"
            href="https://developer.mapquest.com/">MapQuest's
            Developer API</a>
        and all trail information is acquired from the excellent <a target="_blank"
            href="https://www.hikingproject.com/data">Hiking
            Project API</a>. TrekAssure is designed for the continental US. Results for international users
        may not be optimal. This is a project created by Nathan Bryant <a
            href="https://www.linkedin.com/in/nmwbryant/">(LinkedIn)</a>.
    </small>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/home-page.js"></script>
{% endblock %}